body {
    margin: 0;

}

.bee-log-02 {
    width: 100%;
    height: auto;
    margin: 0px auto;
    background: rgba(18, 18, 18, 1);
    outline: 1px solid rgba(255, 255, 255, .2);
    outline-offset: 10px;
    box-sizing: border-box;
}

/* HEADER */

.bee-log-02 .header {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 150px;
    word-wrap: break-word;
    background: var(--color, #c19bb7);
}

.bee-log-02 .header .icon {
    z-index: 0;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -85px;
    font-size: 160px;
    color: var(--white, #e6e0db);
}

.bee-log-02 .header h1 {
    z-index: 1;
    position: absolute;
    bottom: 25px;
    left: 35px;
    margin: 0;
    padding: 0;
    font: 800 46px "Inter", san-serif;
    color: rgba(18, 18, 18, 1);
    letter-spacing: -1px;
    text-transform: uppercase;
}

.bee-log-02 .header h2 {
    z-index: 1;
    position: absolute;
    bottom: 75px;
    left: 35px;
    padding: 4px 8px;
    font: 700 11px "Inter", san-serif;
    color: rgba(18, 18, 18, 1);
    border: 2px solid rgba(18, 18, 18, 1);
    letter-spacing: 2px;
    text-transform: uppercase;
    background: var(--color, #c19bb7);
}

/* ENTRIES */

.bee-log-02 .box-big {
    overflow: hidden;
    width: 100%;
    height: 520px;
    padding: 50px;
    background: rgba(18, 18, 18, 1);
    box-sizing: border-box;
}

.bee-log-02 .box-small {
    overflow: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 450px;
    padding: 40px;
    background: rgba(25, 25, 25, 1);
    border: 1px solid rgba(119, 116, 111, 0.15);
    box-sizing: border-box;
}

.bee-log-02 .box-small ::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

.bee-log-02 .box-small ::-webkit-scrollbar-track {
    background: rgba(25, 25, 25, 1);
    border: 4px solid rgba(18, 18, 18, 1);
}

.bee-log-02 .box-small ::-webkit-scrollbar-thumb {
    background-color: #48536a;
    border: 4px solid rgba(18, 18, 18, 1);
}

.bee-log-02 .box-big .entry {
    width: 100%;
    height: auto;
    margin: 0px 0px 45px 0px;
    padding: 25px;
    font: 11px "Inter", sans-serif;
    color: var(--white, #e6e0db);
    letter-spacing: 0.5px;
    line-height: 160%;
    text-align: justify;
    white-space: pre-wrap;
    background: #222;
    border: 1px solid #333;
    box-sizing: border-box;
}

.bee-log-02 .box-big .entry:last-of-type {
    margin-bottom: 0px;
}

.bee-log-02 .box-big .entry b,
.bee-log-02 .box-big .entry i {
    color: var(--color, #c19bb7);
}

.bee-log-02 .box-big .entry code {
    background-color: rgba(0, 0, 0, 0.15);
    padding: 3px 4px;
    font: 500 9px "Roboto Mono", san-serif;
    color: var(--white, #e6e0db);
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 160%;
}

.bee-log-02 .box-big .entry tags {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bee-log-02 .box-big .entry tags i {
    font-size: 24px;
    color: var(--color, #c19bb7);
}

.bee-log-02 .box-big .entry tags date {
    padding: 5px 7px;
    font: 800 11px "Inter", sans-serif;
    color: var(--color, #c19bb7);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    background: transparent;
    border: 2px solid #333;
}

.bee-log-02 .box-big .entry item {
    display: block;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 10px;
    background: #333;
    border: 1px solid #555;
    box-sizing: border-box;
}

.bee-log-02 .box-big .entry item name {
    display: block;
    font: 500 11px "Inter", san-serif;
    color: var(--white, #e6e0db);
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid #444;
    padding-bottom: 5px;
}

.bee-log-02 .box-big .entry item name b {
    padding-bottom: 4px;
    font-weight: 800;
    border-bottom: 3px solid var(--color, #c19bb7);
}