<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link href="{{ url_for('static', filename='css/secret.css') }}" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"
    integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="{{ url_for('static', filename='js/secret.js') }}"></script>
</head>

<body>

  <div class="bee-log-02">

    <div class="header">
      <h1>SECRET MESSAGE</h1>
      <h2>Name : {{ user_info.profile_name }} </h2>
      <i class="icon fad fa-scroll-old"></i>
    </div>

    <div class="box-big">
      <entry class="box-small">

        <div class="entry">
          <tags>
            <date>AUGUST 2020</date><i class="fad fa-calendar"></i>
          </tags>
          sent <b>SERON TARVEL</b> rank <b>E</b> medium armour as a gift for being a real one during the expedition to
          nehai.

          <item>
            <name><b>name</b> goes here</name>
            this is a <b>description</b> of the item, such as any additional effects it has. (and here is an example of
            <code>code</code>.)
          </item>
        </div>

        <div class="entry">
          <tags>
            <date>AUGUST 2020</date><i class="fad fa-calendar"></i>
          </tags>
          here.
        </div>

        <div class="entry">
          <tags>
            <date>AUGUST 2020</date><i class="fad fa-calendar"></i>
          </tags>
          here.
        </div>

        <div class="entry">
          <tags>
            <date>AUGUST 2020</date><i class="fad fa-calendar"></i>
          </tags>
          here.
        </div>

        <div class="entry">
          <tags>
            <date>AUGUST 2020</date><i class="fad fa-calendar"></i>
          </tags>
          here.
        </div>

        <div class="entry">
          <tags>
            <date>AUGUST 2020</date><i class="fad fa-calendar"></i>
          </tags>
          here.
        </div>

    </div>
  </div>

  </div>
</body>

</html>